* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form,
label,
main {
  display: grid;
  gap: 0.5rem;
}

#root {
  width: 45ch;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

header nav {
  display: flex;
  gap: 1ch;
}

a {
  color: teal;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul,
ol {
  padding-left: 1rem;
}

ul {
  list-style: none;
  display: grid;
  row-gap: 0.2em;
}

li {
  padding: 0.3em;
  background-color: ivory;
  border: thin solid darkgrey;
  border-radius: 10px;
  font-size: 1.1em;
}

li a {
  text-decoration: none;
  color: black
}

p[role="alert"] {
  color: red;
}

.set {
  background-color: inherit;
  border: none;
}
